src/main/mule/xsettlers-game-main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="putNoteByID" doc:id="0fbd9bcd-dc8b-4b81-b76e-5829a17ad931" >
		<http:request method="PUT" doc:name="put Object by ID" doc:id="bf680022-e1aa-49cd-857c-d03aea551c16" config-ref="Object_SAPI_Request_configuration" path="/object/{ID}" doc:description="I wonder if maybe we should have some&#10;validation of the input before committing&#10;it to storage? -- Yes we should, and it is&#10;already handled!">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"ID" : vars.ID
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "updated-object $(vars.ID default "bad-key")"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="postNote" doc:id="349807f8-b526-4091-b588-7ebe097e431d">
		<ee:transform doc:name="Conform to Object Form" doc:id="04977016-d1a8-4aab-90d0-ef38d8a4596c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	objecttypename: "note",
	objectproperties: {
		owner: payload.owner,
		timestamp: now() as String {format: "yyMMddhhmmss"},
		headline: payload.headline
	},
	objectdata: payload.content
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Post New Object" doc:id="935b8b6b-9c85-419f-ae63-f2717aa37965" config-ref="Object_SAPI_Request_configuration" path="/object" />
	</flow>
	<flow name="deleteNoteByID" doc:id="b78ff805-9f63-4aa9-8dc1-9e296031a979" >
		<http:request method="DELETE" doc:name="delete Note by ID" doc:id="0a7256b1-26ee-494d-a294-f6e5d0a07a9e" config-ref="Object_SAPI_Request_configuration" path="/object/{ID}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"ID" : vars.ID
}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "note deleted from storage"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="getNoteByID" doc:id="eea51db0-b39e-409c-81b8-f48d2827835b" >
		<http:request method="GET" doc:name="get Object by ID" doc:id="d0204a28-e760-4a51-8c02-15c851e97e05" config-ref="Object_SAPI_Request_configuration" path="/object/{ID}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"ID" : vars.ID
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
